@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* =========== GERAIS ========== */

* {
    font-family: 'Roboto', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}
