@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* =========== GERAIS ========== */

:root {
    --azul: #1a237e;
    --azulClaro: #E5F3FF;
    --azulHover: #0C62AD;
    --azulActive: #004C8F;
    --cinza: #e0e6eb;
    --cinzaTitulo: #50606D;
    --cinzaSubTitulo: #A3B1BD;
    --borderRadius: 12px;
    --backgroundDark: #F8FAFC;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Roboto', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent !important;
    scroll-behavior: smooth;
}

.espacamento-sections {
    padding: 75px 0px;
    box-sizing: border-box;
}

/* =========== SCROLLBAR ========== */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #EFF3F6;
    background-color: #EFF3F6;

}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #97A7B4;
    /* border: 1px solid #424242 */
}

/* =========== CONTAINER ========== */

.container {
    width: 1276px;
    max-width: 100%;
    padding: 0 35px;
    box-sizing: border-box;
    margin: 0 auto
}

@media (max-width: 768px) {
    .container {
        width:100%;
        padding: 0 20px;
    }
}

/* =========== HEADER ========== */

#s-header nav>.container {
    /* height: 13vh; */
    height: calc(var(--vh, 1vh) * 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
}

#s-header nav h1 {
    font-weight: 700;
    color: var(--azul);
}

#s-header nav ul {
    display: flex;
    list-style-type: none;
}

#s-header nav ul>li {
    margin-left: 15px;
}

#s-header nav ul>li>a {
    text-decoration: none;
    color: var(--azul);
}

#s-header nav ul>li:first-child {
    margin-left: 0px;
}

/* =========== HERO-BANNER ========== */

#s-heroBanner>.container {
    /* height: 87vh; */
    height: calc(var(--vh, 1vh) * 87);
    display: flex;
    align-items: center;
}

#s-heroBanner h1 {
    font-size: 2.7rem;
    margin: 0;
    color: var(--azul);
}

#s-heroBanner h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--azul);
}

#redesSociais {
    display: flex;
    align-items: center;
}

#redesSociais img {
    width: 30px;
}

#redesSociais a {
    margin-left: 10px;
}

#redesSociais a:first-child {
    margin-left: 0;
}

.left-heroBanner {
    width: 100%;
    flex: 1;
    flex-grow: 2.5;
}

.right-heroBanner {
    width: 100%;
    flex: 2;
}

.right-heroBanner img {
    width: 100%;
    max-height: 400px;
}

/* =========== ARROW ========== */
.arrow {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.arrow img {
    width: 25px;
    height: 25px;
    animation: arrow 0.8s infinite;
}

/* =========== SOBRE MIM ========== */

#sobreMim {
    width: 100%;
    background-color: #f5f5f5;
}

#sobreMim>.container {
    display: flex;
    position: relative;
}

#sobreMim .container .fotoPerfil {
    display: flex;
    align-items: center;
}

#sobreMim .container .fotoPerfil>img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 23px -6px rgba(224,224,224,1);
    -moz-box-shadow: 10px 10px 23px -6px rgba(224,224,224,1);
    box-shadow: 10px 10px 23px -6px rgba(224,224,224,1);
}

.titulo h1 {
    font-weight: 500;
    font-size: 1.7rem;
    margin: 0;
    margin-bottom: 10px;
    color: var(--azul);
}

.titulo div {
    width: 80px;
    height: 2px;
    background-color: var(--azul);
}

#sobreMim .conteudo {
    margin-left: 50px;
}


#sobreMim .conteudo p{
    font-weight: 300;
    line-height: 30px;
    color: var(--cinzaTitulo);
}

/* =========== CONHECIMENTOS ========== */

#conhecimentos {
    background-color: #fafafa;
}

#group-conhecimentos {
    display: flex;
    flex-wrap: wrap;
}

.item-conhecimentos {
    width: 100%;
    flex: 1;
    min-width: 280px;
    min-height: 350px;
    margin: 30px 10px;
    border-radius: 8px;
    overflow: hidden;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
    box-shadow: 0px 0px 20px #e7e7e7;
}

.item-conhecimentos:hover{
    transform: scale(1.05);
    transition: 0.4s;
}


.header-conhecimentos > img {
    width: 70px;
}

.titulo-conhecimentos h2 {
    font-weight: 500;
    color: var(--cinzaTitulo)
}

.descricao-conhecimentos p {
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    color: var(--cinzaSubTitulo);
}

/* =========== PROJETOS ========== */
#projetos {
    width: 100%;
    background: linear-gradient(90deg, rgba(26, 35, 126,1) 35%,rgba(86, 97, 220, 1));
}

#projetos .titulo > h1 {
    color: #fafafa !important;
}

#projetos .titulo  div {
    background-color: #fafafa !important;
}

.projetos-card {
    width: 100%;
    height: 300px;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.projetos-card .title > h2 {
    font-weight: 500;
    color: var(--azul);
}

.projetos-card .description > p {
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--cinzaTitulo);
}


.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    width: auto;
    border:1px solid #97A7B4;
    border-radius: 23px;
    padding: 5px 10px;
    font-size: 0.9rem;
    box-sizing: border-box;
    margin: 5px 5px;
}

.tag > span {
    color: #97A7B4;
}

.preloader {
    margin-top: 30px;
    height: 350px;

}
.swiper-container {
    margin-top: 30px;
    display: none;
    height: 350px;
    animation: fadein 0.8s;
}

.swiper-pagination-bullet-active {
    background-color: #616161 !important;
}

/* =========== CONTRUIÇÕES ========== */

.item-contribuicoes {
    flex: 1;
    min-width: 280px;
    min-height: 350px;
    margin: 30px 10px;
    border-radius: 8px;
    overflow: hidden;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
    border: 1px solid var(--azul);
    color: var(--azul);
}

/* =========== ERROR ========== */
.error {
    width: 100%;
    height: 350px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadein 0.8s;
    display: none;
}

.error h2 {
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 2px;
    position: relative;
    color: #fafafa;
}
path {
    animation: rotate 1s infinite;
}

path:nth-of-type(2) {
    animation-delay: .2s;
}

@keyframes rotate {
    from {
        stroke-dasharray: 5;
        stroke-dashoffset: 7.3;
    }

    to {
        stroke-dasharray: 5;
        stroke-dashoffset: 17.3;
    }
}

/* =========== PRELOADER ========== */


.preloader {
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preloader h2 {
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 2px;
    position: relative;
    transform: translateY(-100px);
    color: #fafafa;
}

.loader {
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
    transform: translateY(-43%);
    text-align: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}
.box {
    width: 100%;
    height: 100%;
    background: #fff;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}
.shadow {
    width: 100%;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
    }


@keyframes loader {
    0% {
        left: -100px
    }
    100% {
        left: 110%;
    }
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1,.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    50% {
        transform: scale(1.2,1);
    }
}

/* =========== GROUP CONTATO FOOTER ========== */

#s-groupContatoFooter {
    position: relative;
}

/* =========== CONTATO ========== */

#s-contato {
    position: relative;
    bottom: -75px;
}

#s-contato .contato {
    background-color: var(--azulClaro);
    padding: 50px 80px;
    background-origin: border-box;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#s-contato .contato > .content-text > h2 {
    font-size: 1.9rem;
    font-weight: 500;
    margin: 0px 0px 5px;
    color: var(--azul);
}

#s-contato .contato > .content-text > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: var(--cinzaTitulo);
}

#s-contato .contato > .content-button > div {
    color: white;
    padding: 15px 25px;
    box-sizing: border-box;
    background-color: var(--azul);
    font-size: 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 20px;
}

#s-contato .contato > .content-button > div:hover {
    background-color: var(--azulHover);
}

@media screen and (max-width: 750px){
    #s-contato .contato {
        flex-direction: column;
        justify-content: center;
        padding: 30px 50px;
    }

    #s-contato .contato > .content-text > h2 {
        text-align: center;
    }

    #s-contato .contato > .content-text > p {
        text-align: center;
    }

    #s-contato .contato > .content-button > div {
        margin: 0px;
        margin-top: 20px;
    }
}

/* =========== FOOTER ========== */
#s-footer {
    background-color: var(--azul);
}

#s-footer header {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    box-sizing: border-box;
}

#s-footer header > .item-groupFooter {
    padding: 50px 0px;
    box-sizing: border-box;
    margin-right: 50px;
    flex: 1;
}

#s-footer header > .item-groupFooter:last-child {
    margin-right: 0px;
}

#s-footer header > .item-groupFooter > h2 {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0px 0px 20px;
}

#s-footer header > .item-groupFooter > ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

#s-footer header > .item-groupFooter > ul > li {
    list-style-type: none;
    margin-bottom: 10px;
}

#s-footer header > .item-groupFooter > ul > li > a {
    color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
}

#s-footer header > .item-groupFooter > ul > li > a:hover {
    opacity: 1;
}

#s-footer header > .item-groupFooter .icone-footer {
    width: 20px;
    margin-right: 5px;
}

#s-footer footer {
    display: flex;
    padding: 20px 0px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border: none;
    border-top: 1px solid;
    border-image-source: linear-gradient(45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.5), rgba(255,255,255, 0.1));
    border-image-slice: 1;
}

#s-footer footer > img {
    display: inline-block;
    width: 120px;
}

#s-footer footer > h2 {
    font-weight: 400;
    margin: 0;
    font-size: 0.9rem;
    color: white;
    text-align: center;
}

@media screen and (max-width: 750px){
    #s-footer header {
        flex-flow: row wrap;
        justify-content: center
    }
    #s-footer header > .item-groupFooter {
        min-width: calc(50% - 50px);
        margin: 0;
    }
    #s-footer header > .item-groupFooter:last-child {
        padding-top: 0px;
    }
    #s-footer header > .item-groupFooter:first-child {
        margin-right: 50px;
    }

    #s-footer header > .item-groupFooter > h2 {
        text-align: center;
    }

    #s-footer header > .item-groupFooter > ul > li > a {
        justify-content: center;
    }

    #s-footer header > .item-groupFooter:last-child > ul {
        display: flex;
        justify-content: center;
    }

    #s-footer header > .item-groupFooter:last-child > ul > li > a > span {
        display: none;
    }
}

@media screen and (max-width: 550px){
    #s-footer footer {
        flex-direction: column;
    }

    #s-footer footer > img {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 500px){
    #s-footer header {
        flex-direction: column;
        align-items: center;
    }
    #s-footer header > .item-groupFooter {
        width: 200px;
        flex: 0;
        margin: 0 !important;
        padding: 30px 0px;
    }

    #s-footer header > .item-groupFooter:not(:first-child) {
        padding-top: 0px;
    }
}
/* =========== ANIMAÇÕES ========== */
@keyframes arrow {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* =========== MEDIA SCREEN ========== */

@media screen and (max-width: 950px) {
    .right-heroBanner {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .espacamento-sections {
        padding: 50px 0px;
    }
    #sobreMim .container .fotoPerfil {
        display: none;
    }
    #sobreMim .conteudo {
        margin-left: 0px;
    }
}


@media screen and (max-width: 654px) {
    #group-conhecimentos {
        justify-content: center;
    }
    .item-conhecimentos, .item-contribuicoes {
        flex: none;
        width: 98%;
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 450px) {
    #s-heroBanner h1 {
        min-height: 102px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}