@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* =========== GERAIS ========== */

* {
    font-family: 'Roboto', sans-serif;
    color: #1a237e;
}

body,
html {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent !important;
    scroll-behavior: smooth;
}

/* =========== CONTAINER ========== */

.container {
    width: 100%;
    max-width: 100%;
    padding: 0px 50px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

/* =========== HEADER ========== */

#s-header nav>.container {
    width: 100%;
    /* height: 13vh; */
    height: calc(var(--vh, 1vh) * 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
}

#s-header nav h1 {
    font-weight: 700;
}

#s-header nav ul {
    display: flex;
    list-style-type: none;
}

#s-header nav ul>li {
    margin-left: 15px;
}

#s-header nav ul>li>a {
    text-decoration: none;
}

#s-header nav ul>li:first-child {
    margin-left: 0px;
}

/* =========== HERO-BANNER ========== */

#s-heroBanner>.container {
    width: 100%;
    /* height: 87vh; */
    height: calc(var(--vh, 1vh) * 87);
    display: flex;
    align-items: center;
}

#s-heroBanner h1 {
    font-size: 2.7rem;
    margin: 0;
}

#s-heroBanner h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

#redesSociais {
    display: flex;
    align-items: center;
}

#redesSociais img {
    width: 30px;
}

#redesSociais a {
    margin-left: 10px;
}

#redesSociais a:first-child {
    margin-left: 0;
}

.left-heroBanner {
    width: 100%;
    flex: 1;
    flex-grow: 2.5;
}

.right-heroBanner {
    width: 100%;
    flex: 2;
}

.right-heroBanner img {
    width: 100%;
    max-height: 400px;
}

/* =========== ARROW ========== */
.arrow {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.arrow img {
    width: 25px;
    height: 25px;
    animation: arrow 0.8s infinite;
}

/* =========== SOBRE MIM ========== */

#sobreMim {
    width: 100%;
    background-color: #f5f5f5;
    padding: 75px 0px;
    box-sizing: border-box;
}

#sobreMim>.container {
    width: 100%;
    display: flex;
    position: relative;
}

#sobreMim .container .fotoPerfil {
    display: flex;
    align-items: center;
}

#sobreMim .container .fotoPerfil>img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 23px -6px rgba(224,224,224,1);
    -moz-box-shadow: 10px 10px 23px -6px rgba(224,224,224,1);
    box-shadow: 10px 10px 23px -6px rgba(224,224,224,1);
}

.titulo h1 {
    font-weight: 500;
    font-size: 1.7rem;
    margin: 0;
    margin-bottom: 10px;
}

.titulo div {
    width: 80px;
    height: 2px;
    background-color: #1a237e;
}

#sobreMim .conteudo {
    margin-left: 50px;
}


#sobreMim .conteudo p{
    font-weight: 300;
    line-height: 30px;
}

/* =========== CONHECIMENTOS ========== */

#conhecimentos {
    padding: 75px 0px;
    box-sizing: border-box;
    background-color: #fafafa;
}

#group-conhecimentos {
    display: flex;
    flex-wrap: wrap;
}

.item-conhecimentos {
    width: 100%;
    flex: 1;
    min-width: 300px;
    min-height: 350px;
    margin: 30px 10px 0px 0px;
    border-radius: 8px;
    overflow: hidden;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 10px 10px 23px -6px rgba(224,224,224,1);
    -moz-box-shadow: 10px 10px 23px -6px rgba(224,224,224,1);
    box-shadow: 10px 10px 23px -6px rgba(224,224,224,1);
}

.header-conhecimentos > img {
    width: 80px;
}

.titulo-conhecimentos h2 {
    font-weight: 500;
}

.descricao-conhecimentos p {
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}

/* =========== ANIMAÇÕES ========== */
@keyframes arrow {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* =========== MEDIA SCREEN ========== */

@media screen and (max-width: 950px) {
    .right-heroBanner {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #sobreMim {
        padding: 50px 0px;
    }
    #sobreMim .container .fotoPerfil {
        display: none;
    }
    #sobreMim .conteudo {
        margin-left: 0px;
    }
}

@media screen and (max-width: 450px) {
    #s-heroBanner h1 {
        min-height: 102px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}